{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}

<div class="container" style="margin-top:50px">
    <h2 class="text-center">Add Patients</h2>
    <br>
    <form method="post" action="">
        {% csrf_token %}
        <label>Patient Name</label>
        <input type="text" class="form-control" name="name">
        <label>Gender</label>
        <input type="radio" name="gender" value="Male">Male
        <input type="radio" name="gender" value="female">female
        <br>
        <label>Contact</label>
        <input type="text" class="form-control" name="contact" required>
        <label>Address</label>
        <textarea class="form-control" name="address" required></textarea>
        <br>
        <input type="submit" value="Submit" class="form-control btn btn-primary">
    </form>
</div>

{% if error == "no" %}
<script>
    alert('Record Saved Successfully');
    window.location=('{% url 'view_patient' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something Went Wrong! , Try Again!');
</script>
{% endif %}

{% endblock %}