{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}

<div class="container" style="margin-top:50px">
    <h2 class="text-center">Add Doctor</h2>
    <br>
    <form method="post" action="">
        {% csrf_token %}
        <label>Name</label>
        <input type="text" class="form-control" name="name">
        <label>Contact</label>
        <input type="text" class="form-control" name="contact">
        <label>Specialization</label>
        <input type="text" class="form-control" name="special">
        <br>
        <input type="submit" value="Submit" class="form-control btn btn-primary">
    </form>
</div>

{% if error == "no" %}
<script>
    alert('Record Saved Successfully');
    window.location=('{% url 'view_doctor' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something Went Wrong! , Try Again!');
</script>
{% endif %}

{% endblock %}